.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 48px;
  padding: 0 16px;
  background-color: #673ab8;
}

.links {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.logo {
  margin-right: .6rem;
}
.item:last-child {
  flex-grow: 1;
  text-align: right;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 .4rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.link:after {
  display: block;
  content: '';
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: transform 300ms ease-out;
  transform: translateY(3px);
}
.active:after {
  transform: translateY(0);
}