.routeLoading {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  visibility: hidden;
  animation-name: showLoader;
  visibility: hidden;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes showLoader {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
